{% extends "base.html" %}
{% load staticfiles  %}


{% block subtitle %}
    时间密度图
{% endblock %}

{% block description%}
    同一区域一段时间内的AQI时间密度
{% endblock %}

{% block content %}
<script src="{% static "js/echarts.min.js" %}"></script>
    {#综合分析#}
<div class="container">
<div class="row">
           <div class="panel panel-default">
            <div class="panel-body">
                <div id="temporaldensity" style="height:400px"></div>
            </div>
        </div>
        </div>
</div>
{% include "temporaldensity.html" %}
<script type="text/javascript">
    $(document).ready(function(){
        var row = parseInt($("#rownum").text());
        var col = parseInt($("#colnum").text());
        $.get('temporaldensity?row='+row+'&col='+col,function(data)
		{
            temporaldensityfun(data);
        });
    })
</script>


{% endblock %}