<script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表

        var parallel1Chart = echarts.init(document.getElementById('parallel1'));
        parallel1Chart.showLoading();
        function parallel1fun(mydata)
        {
            parallel1Chart.hideLoading();
            var dd = eval("("+mydata+")");
             var schema = [
    {name: 'prec', index: 0, text: '降水率'},
    {name: 'pres', index: 1, text: '地表气压'},
    {name: 'wind', index: 2, text: '风速'},
    {name: 'temp', index: 3, text: '气温'},
    {name: 'SHum', index: 4, text: ' 空气比湿'},
    {name: 'Irad', index: 5, text: '向下长波辐射'},
    {name: 'SRad', index: 6, text: '向下短波辐射'},
    {name: 'aqi_fin', index: 7, text: 'AQI'}
];

var lineStyle = {
    normal: {
        width: 1,
        opacity: 0.5
    }
};

option = {
    backgroundColor: '#1b1b1b',
    tooltip: {
        padding: 10,
        backgroundColor: '#222',
        borderColor: '#777',
        borderWidth: 1,
        formatter: function (obj) {
            var value = obj[0].value;
            return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                + obj[0].seriesName + ' ' + value[0] + '降水率：'
                + value[7]
                + '</div>'
                + schema[1].text + '：' + value[1] + '<br>'
                + schema[2].text + '：' + value[2] + '<br>'
                + schema[3].text + '：' + value[3] + '<br>'
                + schema[4].text + '：' + value[4] + '<br>'
                + schema[5].text + '：' + value[5] + '<br>'
                + schema[6].text + '：' + value[6] + '<br>';
        }
    },
    // dataZoom: {
    //     show: true,
    //     orient: 'vertical',
    //     parallelAxisIndex: [0]
    // },
    parallelAxis: [
        {dim: 0, name: schema[0].text, scale:true},
        {dim: 1, name: schema[1].text, scale:true},
        {dim: 2, name: schema[2].text, scale:true},
        {dim: 3, name: schema[3].text, scale:true},
        {dim: 4, name: schema[4].text, scale:true},
        {dim: 5, name: schema[5].text, scale:true},
        {dim: 6, name: schema[6].text, scale:true},
        {dim: 7, name: schema[7].text,
        type: 'category', data: [1, 2, 3, 4, 5, 6]}
    ],
    visualMap: {
        show: true,
        min: 1,
        max: 6,
        dimension: 7,
        inRange: {
            color: ['#d94e5d','#eac736','#50a3ba'].reverse(),
            // colorAlpha: [0, 1]
        }
    },
    parallel: {
        left: '5%',
        right: '18%',
        bottom: 100,
        parallelAxisDefault: {
            type: 'value',
            name: 'AQI指数',
            nameLocation: 'end',
            nameGap: 20,
            nameTextStyle: {
                color: '#fff',
                fontSize: 12
            },
            axisLine: {
                lineStyle: {
                    color: '#aaa'
                }
            },
            axisTick: {
                lineStyle: {
                    color: '#777'
                }
            },
            splitLine: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#fff'
                }
            }
        }
    },
    series: [
        {
            name: '北京',
            type: 'parallel',
            lineStyle: lineStyle,
            data: dd.dataBJ
        }
    ]
};

             parallel1Chart.setOption(option);
        }

</script>