{% extends "base.html" %}
{% load staticfiles  %}

{% block subtitle %}
    AQI实时预测
{% endblock %}
{% block description%}
   利用随机森林模型对AQI空间分布进行实时精细化预测
{% endblock %}
{% block content %}
    <link href="{% static "css/ol.css" %}" rel="stylesheet">
    <script src="{% static "js/openlayer.js" %}" type="text/javascript"></script>
    <script src="{% static "js/tools/tool.js" %}" type="text/javascript"></script>
    <style>
    #map {
        position: relative;
        height: 900px;
        width: 900px;
      }
    #popup{
        width: 150px;
    }
    </style>


    <div id="map" class="map"></div>


    <div style="display: none;">
      <!-- Popup -->
      <div id="popup" title="详细信息"></div>
    </div>
    <div></div>
    <script>
    var day = 725;
    var factor = "aqi_fin";

    //设置地图
    var raster = new ol.layer.Tile({
            source: new ol.source.OSM()
          })
    var map = new ol.Map({
        layers: [raster],
        target: 'map',
        view: new ol.View({
          center: ol.proj.fromLonLat([116.303406,39.916263]),
          zoom: 11
        })
      });


    //添加网格
    function createGrideLayer(url,fac){
        var wkt =  $.ajax({
               type: "GET",
               url: url,
               data: "",
               async: false

            }).responseText;
        var wkts = wkt.split(";")
        var features = new Array()
        for(var i=0;i<wkts.length;i++){
            var format = new ol.format.WKT();
            var temps = wkts[i].split("&")
            var feature = format.readFeature(temps[0], {
                    dataProjection: 'EPSG:4326',
                    featureProjection: 'EPSG:3857'
                });
            var ss = factor2colorstr(factor,temps[1],0.4);
            var stl = new ol.style.Style({
                fill: new ol.style.Fill({
                color: ss
                }),
                stroke: new ol.style.Stroke({
                color: 'rgba(255,255,255,0.2)',
                width: 1
                }),
                text: new ol.style.Text({
                font: '12px Calibri,sans-serif',
                fill: new ol.style.Fill({
                    color: '#000'
                }),
                stroke: new ol.style.Stroke({
                    color: '#fff',
                    width: 3
                })
                })
                });
            feature.setStyle(stl)
            features[i] = feature
        }


        var vector = new ol.layer.Vector({
                  source: new ol.source.Vector({features: features
                        })
                    });
        return vector;
    }

    var gvl = createGrideLayer("/factorGrid/?day="+day+"&factor="+factor,factor);
    map.addLayer(gvl);

    //点击时弹出窗口
    // Popup showing the position the user clicked
      var popup = new ol.Overlay({
        element: document.getElementById('popup')
      });
      map.addOverlay(popup);

      map.on('click', function(evt) {

        var element = popup.getElement();
        var coordinate = evt.coordinate;
        var hdms = ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326');
        if(hdms[0] < 116.0975 || hdms[0] > 116.554 || hdms[1] < 39.7128 || hdms[1] > 40.123){
            $(element).popover('destroy');
            return;
        }
        var colIncre = (116.554 - 116.0975) / 39;
        var rowIncre = (40.123 - 39.7128) / 35;
        var colIndex = parseInt((hdms[0] - 116.0975) / colIncre);
        var rowIndex = parseInt((40.123 - hdms[1]) / rowIncre);
          $("#rownum").html(rowIndex)
          $("#colnum").html(colIndex)
        var date =   day
        var aqi =  $.ajax({
               type: "GET",
               url: "/blockFactor/?date="+date+"&row="+rowIndex+"&col="+colIndex+"&factor="+factor,
               async: false
            }).responseText;
        $(element).popover('destroy');
        popup.setPosition(coordinate);
        // the keys are quoted to prevent renaming in ADVANCED mode.

        $(element).popover({
          'placement': 'top',
          'animation': false,
          'html': true,
          'content': '<p>'+'区块('+rowIndex+','+colIndex+')的实时AQI是'+aqi+'</p>'+'<a href='+'"/timeseries?row='+rowIndex+'&col='+colIndex+'">查看时间序列</a>'
        });
        $(element).popover('show');
      });


    </script>

{% endblock %}